/* styles.css */

body {
    font-family: "Cardo", serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
}

h1 {
    font-size: 24px;
}

main {
    max-width: 100vw;
    margin: 0;
    padding: 20px;
    flex-grow: 1; 
    min-height: calc(100vh - 200px); /* Adjust as needed for the header and footer height */
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

footer {
    text-align: right; /* Align text to the right */
    background-color: transparent; /* Transparent background */
    color: #555; /* Set your desired text color */
    font-size: 10px; /* Adjust the font size as needed */
    padding: 5px; /* Add some padding for spacing */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}


/* Add padding below "Pre-Available Cards" and above the footer */

#card-section {
    margin: 0;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 220px); /* Adjust as needed for the header and footer height */
}

/* Display card notes in a new line for each clicked card */
textarea#note-text {
    white-space: pre-wrap;
}
/* Add styling for disabled card buttons */
.card-button.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}


/* Restyle the card rows to maintain their grouping */
.card-row {
    display: flex;
    flex-direction: column;
}

/* Create four columns for cards */
.card-columns {
    display: flex;
    gap: 4vw;
    min-height: calc(100vh - 200px);
}

.card-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Create compact card display with narrower columns */
.compact-cards {
    display: flex;
    min-height: calc(100vh - 200px); /* Adjust as needed for the header and footer height */
}

.compact-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px; /* Adjust the column width as needed */
    max-width: 50px;
    margin: 5px; /* Add space between columns */
}

/* Adjust the card-button styles for compactness */
.card-button {
    background-color: #fff;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 8px;
    font-size: 20px; /* Adjust the font size as needed */
    padding: 8px 16px;
    margin: 3px;
    cursor: pointer;
    color: #000;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(180deg, #FFF, #EEE);
}

.card-button[data-card*="Hearts"],
.card-button[data-card*="Diamonds"] {
    color: red;
}


/* Additional styling for card buttons on hover (optional) */
.card-button:hover {
    background-color: #d0d0d0;
}

.hidden {
    display: none;
}

/* Add these styles to your existing CSS */
.card-count {
    background-color: #333;
    color: white;
    border: 2px solid #333;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    margin: inherit;
}

.selected-orange-column {
    border: 1px dashed orange;
}

.selected-red-column {
    border: 1px solid red;
}

.card-button[data-card*="Spades"],
.card-button[data-card*="Clubs"],
.card-button[data-card*="Hearts"],
.card-button[data-card*="Diamonds"] {
    min-width: 3em;
    min-height: calc((100vh - 600px) / 13);
    /* max-height: calc((100vh - 600px) / 13); */
}

.reset-icon::before {
    content: "\23FB";
    font-family: Arial, sans-serif; /* Fallback font */

}

.undo-icon::before {
    content: "\21BA";
    font-family: Arial, sans-serif; /* Fallback font */
}


header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

#header-content {
    display: flex;
    align-items: center;
}

#header-content h4 {
    margin: 0;
    padding: 0;
    font-size: 24px; /* Increase the font size for the title */
}

#action-buttons {
    margin-left: auto;
    display: flex; /* Ensure the buttons are displayed in a row */
    align-items: center; /* Vertically align buttons with icons */
}

.header-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex; /* Ensure button and icon are in a row */
    align-items: center; /* Vertically align button and icon */
}

.header-button:hover {
    background-color: #0056b3;
}

/* Define the custom icons */
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
